.news-header {
    font-size: 24px;
    text-align: center;
    cursor:pointer;
    color:cornflowerblue;
    font-weight: 1200;
}
.news-body {
    text-align: justify;
    text-align: center;
    font-size: 16px;
}

.news-image {
    width:20%;
    height: auto;
}
